.env
.env.*
!.env.example
vendor/
node_modules/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
public/build/
supabase/.branches/
supabase/.temp/
*.log
/.env
/storage/logs/*
!/storage/logs/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
